<?php

require_once 'vendor/owncloud/coding-standard/src/Config.php';

$config = new OC\CodingStandard\Config();

$config
    ->setUsingCache(true)
    ->getFinder()
    ->in(__DIR__);

return $config;
